on init
    mkdir /sec_storage
    mount ext4 /dev/block/platform/hi_mci.0/by-name/securetystorage /sec_storage nosuid nodev noatime wait crypt discard,auto_da_alloc,mblk_io_submit,data=journal,context=u:object_r:teecd_data_file:s0
    chown root root /sec_storage
    chmod 600 /sec_storage

    mkdir /sdcard
    mount vfat /devices/hi_mci.1/mmc_host/mmc1/* /sdcard nosuid nodev noatime wait
    chown user user /sdcard
    chmod 777 -R /sdcard

    mkdir /usb
    mount auto /devices/hi6xxx-usb-otg/usb1/* /usb nosuid nodev noatime wait
    chown user user /usb
    chmod 777 -R /usb

service teecd /sbin/teecd
    socket tee-multi-user stream 660 root system
    class core
    user root
    group root
    seclabel u:r:tee:s0
